services:
  app:
    build: .
    ports:
      - '8000:8000'
    env_file:
      - .env.docker
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: reminder_app
      MYSQL_USER: reminder_user
      MYSQL_PASSWORD: reminder_pass
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
